.bg {
    background-image: url('../../assets/imgs/profile_bg.png');
    height:50%;
  }
  .avatar{
    margin: auto;
    text-align: center;
  }

h2,p{
  text-align: center;
}
.details{
  margin-top:20px;
}
  